


@media(max-width: 1920px){
    .video{
        width: 900px;
        height: 600px;
    }



}

@media(max-width: 1024px){
    .video{
        width: 700px;
        height: 400px;
    }



}

@media (max-width: 700px){
    .video{
        width: fit-content;
        height: fit-content;
    }
    .contorno{
        height: fit-content;
    }

}


  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      margin-bottom: 20px;
    }
  
    .menu {
      flex-direction: column;
    }
  
    .menu li {
      margin-bottom: 10px;
    }
  }

    @media screen and (max-width: 768px) {
        .footer-content {
          flex-direction: column;
          align-items: center;
        }
      
        .footer-item {
          margin-bottom: 10px;
        }
      }
      